// Variables
$mustardYellow: #DDAA33;
$burntOrange: #C55A11;
$warmBrown: #6A3F26;
$oliveGreen: #78843C;
$rustRed: #9A382D;
$cream: #F1E4C3;

//Fonts
$primaryFont: "Caprasimo", serif;
$secondaryFont: "Pacifico", cursive;
$bodyText: "Poppins", sans-serif;

body {
    font-family: $bodyText;
    background: $cream url('../img/bg.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p {
    font-family: $bodyText;
    font-size: 1.2rem;
    color: $warmBrown;
}

h1 {
    font-family: $primaryFont;
    font-size: 3rem;
    text-transform: uppercase;
    color: $warmBrown;
    margin: 0;
}

.splash-screen {
    max-width: 600px;
    text-align: center;
    background: $cream;
    padding: 5rem;
    border: 5px solid $burntOrange;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.btn {
    font-family: $bodyText;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $oliveGreen;
    &.difficulty {
        background-color: $mustardYellow;
        transition: all 0.3s ease;
        &:hover {
            background-color: $rustRed;
        }
    }
    &.submit {
        text-transform: uppercase;
        background-color: $burntOrange;
        transition: all 0.3s ease;
        &:hover {
            background-color: $oliveGreen;
        }
    }
}

.game-container {
    display: none;
    text-align: center;
    padding: 20px;
    border: 5px solid $burntOrange;
    background-color: $cream;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    .image-container {
        position: relative;
        width: 450px; 
        height: 450px;
        margin: 0 auto;
        border: 5px solid $burntOrange;
    }
    #album-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #cover-grid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    .grid-box {
        background-color: rgba(120, 132, 60, 1);
        transition: opacity 0.5s ease;
    }
    .input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    input {
        padding: 15px;
        margin: 10px 0;
        font-size: 16px;
        width: 50%;
        color: $warmBrown;
        border: 2px solid $burntOrange;
        border-radius: 5px;
    }
    #feedback {
        font-size: 18px;
        margin-top: 10px;
        min-height: 15px;
    }
    .info {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-family: $bodyText;
        p {
            padding: 0;
            margin: 0;
        }
    }
    #pause-btn {
        z-index: 100;
        svg {
            width: 35px;
            height: 35px;
            fill: $warmBrown;
            cursor: pointer;
        }
    }
}

#results {
    display: none;
    text-align: center;
    padding: 20px;
    border: 5px solid $burntOrange;
    background-color: $cream;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    #results-text {
        font-family: $primaryFont;
        font-size: 3rem;
        text-transform: uppercase;
        color: $warmBrown;
        margin: 0 0 20px 0;
    }
}









